#content-all{
    grid-column: 1/4 !important;
}


main #committee{
    background: none;
    .all-committee{
        padding: 0;
        height: auto;
        margin-top: 2rem;
        overflow: inherit;
        display: grid;
        grid-template-columns: repeat(5,18%);
        justify-content: space-between;
    }
}


.committee-info-display {
    position: relative;
    background: #edf1ff;
    border-radius: 1rem;
    margin-bottom: 1rem;
    height: max-content;

    .black{
        background-color: black !important;
    }

    .centered {

        img {
        border: 2px solid #edf1ff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        }

      .committee-info{
        margin-top: 0.5rem;
        font-size: 0.6rem !important;
        font-weight: bold;
        color: gray;

        .name {
          font-size: 0.7rem !important;
          font-weight: bold;
          color: black;
        }
        
        .dept{
            padding: 1rem 1rem 0rem;
            height: max-content;
            word-break: break-word;
            text-align: center;
        }
        
      }

    }

    .committee-add-sub{
        margin-bottom: 1rem;
        cursor: pointer;
    }

}

@media(max-width:950px)
{
    main{
        #committee{
            .all-committee{
                grid-template-columns: repeat(4, 22%);
            }
        }
    }
}

@media(max-width:800px)
{
    main{
        #committee{
            display: block;
            .all-committee{
                grid-template-columns: repeat(2, 45%);
                justify-content: space-around;
            }
        }
    }
}


@media(max-width:550px)
{
    main{
        #committee{
            display: block;
            .all-committee{
                grid-template-columns: 1fr;
            }
        }
    }
}