*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');



$grey-back:#FCFCFC;
$black-aes:#212121;
$grey-very-light:#F8F8FB;


.overflow{
    overflow:hidden;
}

body{
    font-family: 'Spartan', sans-serif;
    background: $grey-very-light;
    .btn{
        background: none;
        border: none;
        outline: none;
    }
    
    .all{
        display:none;
    }

    .opacity{
        opacity: 0.2;
        pointer-events: none;
    }

    .black{
        padding: 1.5rem;
        background-color:$black-aes;
        border-radius: 1rem 1rem 0 0;
    }

    .centered{
        position: relative;
        text-align: center;
        top:-1.8rem;
    }
}

nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:$grey-back;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    #logo-div{
        margin-left: 1rem;
        #logo{
            width: 50%;
        }
    }

    #nav-icons{
        margin-right: 2rem;
        display: flex;
        width: 10%;
        justify-content: space-between;

        #profile-pic-nav-div{
            display: none;
        }

        #home-page-icon{
            margin-right: 1rem;
            span{
                display: none;
            }
        }
        a{
            color: #000;
            font-weight: bold;
            text-decoration: none;
            font-size: 0.8rem;
        }
        i{
            margin-right: 1rem;
        }
        button{
            margin-right: 1rem;
        }
    }

    //add javascript
  
    .drop-down-menu-items{
        overflow:scroll;
        position: absolute;
        background:$grey-back;
        padding: 1rem 0;
        right: 0;
        width: 70%;
        height: 100vh;
        top:10.2vh;

        .drop-down-menu-item{
            
            padding: 1rem 2rem;
       
            #filter{
                width:100%;
                text-align: left;
                font-family: 'Spartan', sans-serif;
                font-weight: bold;
                font-size: 0.8rem;
            }
        }

        .filter-options{
            margin-bottom: 5rem;
            overflow:scroll;
            div{
                margin:1rem 0;
                font-size: 0.8rem;
                font-weight: bold;
                input{
                    margin-right: 1rem;
                }
            }
        }
        .drop-down-menu-item:hover{
            background: rgba(5, 255, 0, 0.14);
        }

        .filter-options:hover{
            background: none;
        }
    }
}

main{
    position: relative;
    top:13vh;

    #right-desk{
        .filter-options{
            display: none;
        }
    }

    #profile-info-display{
        position: relative;
        background:#EDF1FF;
        border-radius:1rem;

        .centered{
        
            img{
                border: 2px solid #EDF1FF;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .profile-info{
                margin-top:0.5rem;
                font-size: 0.7rem;
                font-weight: bold;
                .name{
                    font-size: 1rem;
                    font-weight: bold;
                }
                .course-student{
                    text-align: left;
                    margin: 0 auto;
                    width: auto;
                    margin-top: 0.5rem;
                    .proDesc{
                        padding:1rem 1rem 0rem;
                        // white-space: pre-wrap; 
                        word-break: break-word;
                        text-align: center;
                    }
                }
            }

            #post-btn-div{
                margin-top: 0.5rem;
                #post-btn{
                    i{
                        margin-right: 0.5rem;
                        padding: 0.1rem;
                        border-radius: 50%;
                        border:2px solid #fff;
                    }
                    background: #000;
                    padding: 0.6rem 1.1rem;
                    color: white;
                    font-family:'Spartan', sans-serif;
                    border-radius: 2rem;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
            
        }
    }

    #content-all{
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #committee{
        display: none;
    }
}

.temp{
    margin-bottom: 1rem;
    border-radius: 1rem;
    background: white;
    // white-space: pre-wrap;

    .content-padding{
        padding: 1.3rem 1rem;
    }

    .content-heading{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .content-profile-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.6rem;
        margin-bottom: 0.6rem;

        .content-profile-pic-name{
            display: flex;
            align-items: center;
            

            .content-profile-pic{
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                }
                margin-right: 1rem;
            }

            .content-profile-name{
                display: flex;
                flex-direction: column;
                font-size: 0.65rem;
            }
        }

        .content-tag{
            background:#EDF1FF;
            padding: 0.5rem 1rem;
        }
    }

    .content-text{
        font-size: 0.8rem;
        font-weight: bold;
        white-space: pre-wrap;
        word-break: break-word;
    }
    
    button,select{
        cursor: pointer;
    }

    .content-interact{
        background: $black-aes;
        display: flex;
        padding: 0.7rem 1.5rem;
        justify-content: space-between;
        border-radius: 0 0 1rem 1rem;
        color: #fff;
        font-size: 0.8rem;

        i{
            color: white;
        }
        
        #post-show-btn{
            cursor: pointer;
            display: block;
            height: 10px;
            width: 10px;
            margin-right: 10px;
        }

        .ques{
            content: "Q";
            color: wheat;
            cursor: pointer;
            display: block;
            height: 10px;
            width: 10px;
            margin-right: 1px;
            background: rgba(164, 237, 255, 0.315);
            padding: 0.5rem;
            border-radius: 50%;
        }

        .ques:hover{
            background: rgb(139, 230, 253);
        }

        .content-interact-comment,.send{
            display: flex;
            .comment{
                margin-right: 0.5rem;
            }
            .show{
                padding: 0.5rem;
                background: #7CF9687D;
                border-radius: 50%;
            }
            .show-no{
                background: #F968687D;
            }
        }   
    }
}

#back-to-top-div{
    position: fixed;
    right: 0;
    bottom: 3rem;
    margin: 0 5%;
    width: max-content;
    z-index: 1;


    #back-to-top{
        padding: 0.8rem;
        border-radius: 15px;
        background:rgb(30, 95, 30);
        font-family: 'Spartan', sans-serif;
        color: white;
        cursor: pointer;
    }
}

.post-content,.comment-content{
    position: absolute;
    width: 100%;
    top:8rem;

    .after-post{
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: green;
        
        button{
            background: black;
            color: #fff;
            padding: 1rem;
        }
    }
    

    #error,#comment-error{
        font-size: 0.8rem;
        font-weight: bold;
    }

    .content-heading{
        position: relative;
        #heading{
            width: 100%;
            padding: 0.5rem;
            font-family: 'Spartan', sans-serif;
            font-weight: bold;
            border:none;
            outline: none;
            font-size: 1rem;
        }
    }

    .content-tag{
        padding: 0.2rem !important;
        select{
            padding: 0.2rem 1rem;
            border: none;
            background-color: rgba(255, 143, 0, 0.2);
            outline: none;
        }
    }

    .content-text{
        #content{
            width: 100%;
            border:none;
            outline: none;
            font-family: 'Spartan', sans-serif;
            font-weight: bold;
            height: 6rem
        }
    }

    .content-interact{
        #cancel,#cancel-comment{
            color: #fff;
            font-family: 'Spartan', sans-serif;
        }
        #posted-content{
            margin-right: 1rem;
        }
    }
}

//tablet
@media(min-width:600px)
{
  
}

//pc
@media(min-width:800px)
{

    nav{
        #nav-icons{
            
            width: max-content;
            align-items: center;

            i{
                display: block;
                margin: 0 auto;
                font-size: 0.8rem;
            }

            span{
                font-size: 0.6rem;
            }

            #home-page-icon{
                padding:1.1rem;
                text-align: center;
                margin-right: 0;
                i{
                    margin-bottom: 4px;
                    // margin: 0 auto;
                }
                span{
                    display: block;
                }
            }

            #drop-down-menu-div{
                display: none;
            }
            .drop-down-menu-items{
                // background-color: none;
                padding: 0;
                position: relative;
                display: -webkit-box;
                height: max-content;
                top:0;
                width: max-content;
                overflow: hidden;
                
                
                .drop-down-menu-item{
                    padding: 1rem;
                   // margin-right: 1rem;
                   text-align: center;

                    #committee-link-div{
                        display: none;
                        #committee-link
                        {
                            display: none;
                        }
                    }
                }

                #filter-div{
                    display: none;
                    #filter{
                        display: none;
                    }
                }
            }

            #profile-pic-nav-div{

                display: flex ;
                flex-direction: column;
                align-items: center;
                border-left: 1px solid black;
                //padding-left: 1rem;
                padding: 0.3rem 1rem;
                //border:1px solid green;

                img{
                    margin-bottom: 4px;
                }

                a{
                    font-size: 0.6rem;
                    font-family: inherit;
                    font-weight: bolder;
                    cursor: pointer;
                    // background: red;
                    margin: 0 auto;
                }

                #profile-pic-nav{
                    width: 30px;
                    height:30px;
                    border-radius: 50%;
                }
            }

            #home-page-icon:hover{
                background: rgba(5, 255, 0, 0.14);
            }
        }
    }

    #back-to-top-div{
        margin: 0 30%;
    }
    
    .post-content,.comment-content{
        width: 50%;
        margin: 0 25%;
    }

    main{
        padding: 0 2rem ;
        display: grid;
        grid-template-columns: 0.8fr 1.5fr 0.6fr;

        #right-desk{
            grid-column: 3;
            grid-row: 1;
            position: relative;
            
            .filter-options{
                display: block;
                position: sticky;
                z-index: 1;
                height: max-content;
                top:5rem;
                background: #F9FAFE;
                margin-top: 2rem;
                border-radius: 15px;

                .black{
                    background: rgba(187, 215, 178, 0.5);
                }
                
                .centered{
                    
                    i{
                        background: rgba(187, 215, 178, 0.9);
                        padding: 1rem;
                        border-radius: 50%;
                        border:2px solid #F9FAFE;
                    }
                }

                .filter-desk-data{
                    padding-bottom: 2rem;
                    width: max-content;
                    margin: 0 auto;

                    div{
                        padding: 0.5rem 0;
                        font-weight: bold;
                        font-size: 0.8rem;
                        
                        input{
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }

        #content-all{
            grid-column: 2;
            grid-row: 1;
            margin: 0 3rem;
        }

        #committee{
            top:5rem;
            height: max-content;
            position: sticky;
            grid-column: 1;
            grid-row:1;
            display: block;
            border-radius: 15px;
            background: #F9FAFE;

            .black{
                background: rgba(187, 215, 178, 0.5);
            }

            .committee-cont{
                i{
                    background: rgba(187, 215, 178, 0.9);
                    padding: 1rem;
                    border-radius: 50%;
                    border:2px solid #F9FAFE;
                }
            }
            
            .all-committee::-webkit-scrollbar {
                width: 0.2rem;
            }

            .all-committee::-webkit-scrollbar-thumb {
                background-color: #e7e7e7;
            }

            .all-committee{
                padding: 1rem;
                overflow: auto;
                height: 80vh;
                padding-bottom: 3rem;

                .committee{
                    background: #EDF1FF;
                    display: grid;
                    grid-template-columns: 0.1fr 2fr 0.4fr;
                    border-radius: 10px;
                    margin: 1rem 0;
                    align-items: center;
                    pointer-events: none;

                    // .committee-side{
                    //     background: rgba(255, 199, 0, 0.7);
                    //     padding: 0.5rem;
                    //     border-radius: 1rem 0 0 1rem;
                    //     height: 100%;
                    // }
                    .committee-content{
                        padding: 0.8rem;
                        padding-right: 0;
                        font-size: 0.8rem;
                        font-weight: bold;
                        
                        .committee-dept{
                            font-size: 0.7rem;
                            margin-right: 2rem;
                            white-space: pre-wrap;
                            word-break: break-all;
                            word-wrap:normal;
                        }
                    }
                    button{
                        cursor: pointer;
                        height: max-content;
                        width: max-content;
                        i{
                            pointer-events: all;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

