@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overflow {
  overflow: hidden;
}

body {
  font-family: "Spartan", sans-serif;
  background: #f8f8fb;
}

body .btn {
  background: none;
  border: none;
  outline: none;
}

body .all {
  display: none;
}

body .opacity {
  opacity: 0.2;
  pointer-events: none;
}

body .black {
  padding: 1.5rem;
  background-color: #212121;
  border-radius: 1rem 1rem 0 0;
}

body .centered {
  position: relative;
  text-align: center;
  top: -1.8rem;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

nav #logo-div {
  margin-left: 1rem;
}

nav #logo-div #logo {
  width: 50%;
}

nav #nav-icons {
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #nav-icons #profile-pic-nav-div {
  display: none;
}

nav #nav-icons #home-page-icon {
  margin-right: 1rem;
}

nav #nav-icons #home-page-icon span {
  display: none;
}

nav #nav-icons a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8rem;
}

nav #nav-icons i {
  margin-right: 1rem;
}

nav #nav-icons button {
  margin-right: 1rem;
}

nav .drop-down-menu-items {
  overflow: scroll;
  position: absolute;
  background: #fcfcfc;
  padding: 1rem 0;
  right: 0;
  width: 70%;
  height: 100vh;
  top: 10.2vh;
}

nav .drop-down-menu-items .drop-down-menu-item {
  padding: 1rem 2rem;
}

nav .drop-down-menu-items .drop-down-menu-item #filter {
  width: 100%;
  text-align: left;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}

nav .drop-down-menu-items .filter-options {
  margin-bottom: 5rem;
  overflow: scroll;
}

nav .drop-down-menu-items .filter-options div {
  margin: 1rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}

nav .drop-down-menu-items .filter-options div input {
  margin-right: 1rem;
}

nav .drop-down-menu-items .drop-down-menu-item:hover {
  background: rgba(5, 255, 0, 0.14);
}

nav .drop-down-menu-items .filter-options:hover {
  background: none;
}

main {
  position: relative;
  top: 13vh;
}

main #right-desk .filter-options {
  display: none;
}

main #profile-info-display, main .committee-info-display {
  position: relative;
  background: #edf1ff;
  border-radius: 1rem;
}

main #profile-info-display .centered img, main .committee-info-display .centered img {
  border: 2px solid #edf1ff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

main #profile-info-display .centered .profile-info, main .committee-info-display .centered .profile-info {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
}

main #profile-info-display .centered .profile-info .name, main .committee-info-display .centered .profile-info .name {
  font-size: 1rem;
  font-weight: bold;
}

main #profile-info-display .centered .profile-info .course-student, main .committee-info-display .centered .profile-info .course-student {
  text-align: left;
  margin: 0 auto;
  width: auto;
  margin-top: 0.5rem;
}

main #profile-info-display .centered .profile-info .course-student .proDesc, main .committee-info-display .centered .profile-info .course-student .proDesc {
  padding: 1rem 1rem 0rem;
  word-break: break-word;
  text-align: center;
}

main #profile-info-display .centered #post-btn-div, main .committee-info-display .centered #post-btn-div {
  margin-top: 0.5rem;
}

main #profile-info-display .centered #post-btn-div #post-btn, main .committee-info-display .centered #post-btn-div #post-btn {
  background: #000;
  padding: 0.6rem 1.1rem;
  color: white;
  font-family: "Spartan", sans-serif;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}

main #profile-info-display .centered #post-btn-div #post-btn i, main .committee-info-display .centered #post-btn-div #post-btn i {
  margin-right: 0.5rem;
  padding: 0.1rem;
  border-radius: 50%;
  border: 2px solid #fff;
}

main #content-all {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main #committee {
  display: none;
}

.temp {
  margin-bottom: 1rem;
  border-radius: 1rem;
  background: white;
}

.temp .content-padding {
  padding: 1.3rem 1rem;
}

.temp .content-heading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.temp .content-profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
  margin-bottom: 0.6rem;
}

.temp .content-profile-info .content-profile-pic-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temp .content-profile-info .content-profile-pic-name .content-profile-pic {
  margin-right: 1rem;
}

.temp .content-profile-info .content-profile-pic-name .content-profile-pic img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.temp .content-profile-info .content-profile-pic-name .content-profile-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.65rem;
}

.temp .content-profile-info .content-tag {
  background: #edf1ff;
  padding: 0.5rem 1rem;
}

.temp .content-text {
  font-size: 0.8rem;
  font-weight: bold;
  white-space: pre-wrap;
  word-break: break-word;
}

.temp button,
.temp select {
  cursor: pointer;
}

.temp .content-interact {
  background: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7rem 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 1rem 1rem;
  color: #fff;
  font-size: 0.8rem;
}

.temp .content-interact i {
  color: white;
}

.temp .content-interact .alterN {
  pointer-events: none;
}

.temp .content-interact #post-show-btn {
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}

.temp .content-interact .ques {
  content: "Q";
  color: wheat;
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
  margin-right: 1px;
  background: rgba(164, 237, 255, 0.315);
  padding: 0.5rem;
  border-radius: 50%;
}

.temp .content-interact .ques:hover {
  background: #8be6fd;
}

.temp .content-interact .content-interact-comment,
.temp .content-interact .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.temp .content-interact .content-interact-comment .comment,
.temp .content-interact .send .comment {
  margin-right: 0.5rem;
}

.temp .content-interact .content-interact-comment .show,
.temp .content-interact .send .show {
  padding: 0.5rem;
  background: #7cf9687d;
  border-radius: 50%;
}

.temp .content-interact .content-interact-comment .show-no,
.temp .content-interact .send .show-no {
  background: #f968687d;
}

#back-to-top-div {
  position: fixed;
  right: 0;
  bottom: 3rem;
  margin: 0 5%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
}

#back-to-top-div #back-to-top {
  padding: 0.8rem;
  border-radius: 15px;
  background: #1e5f1e;
  font-family: "Spartan", sans-serif;
  color: white;
  cursor: pointer;
}

.post-content,
.comment-content {
  position: absolute;
  width: 100%;
  top: 8rem;
}

.post-content .after-post,
.comment-content .after-post {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
}

.post-content .after-post button,
.comment-content .after-post button {
  background: black;
  color: #fff;
  padding: 1rem;
}

.post-content #error,
.post-content #comment-error,
.comment-content #error,
.comment-content #comment-error {
  font-size: 0.8rem;
  font-weight: bold;
}

.post-content .content-heading,
.comment-content .content-heading {
  position: relative;
}

.post-content .content-heading #heading,
.comment-content .content-heading #heading {
  width: 100%;
  padding: 0.5rem;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 1rem;
}

.post-content .content-tag,
.comment-content .content-tag {
  padding: 0.2rem !important;
}

.post-content .content-tag select,
.comment-content .content-tag select {
  padding: 0.2rem 1rem;
  border: none;
  background-color: rgba(255, 143, 0, 0.2);
  outline: none;
}

.post-content .content-text #content,
.comment-content .content-text #content {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  height: 6rem;
}

.post-content .content-interact #cancel,
.post-content .content-interact #cancel-comment,
.comment-content .content-interact #cancel,
.comment-content .content-interact #cancel-comment {
  color: #fff;
  font-family: "Spartan", sans-serif;
}

.post-content .content-interact #posted-content,
.comment-content .content-interact #posted-content {
  margin-right: 1rem;
}

@media (min-width: 800px) {
  nav #nav-icons {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #nav-icons i {
    display: block;
    margin: 0 auto;
    font-size: 0.8rem;
  }
  nav #nav-icons span {
    font-size: 0.6rem;
  }
  nav #nav-icons #home-page-icon {
    padding: 1.1rem;
    text-align: center;
    margin-right: 0;
  }
  nav #nav-icons #home-page-icon i {
    margin-bottom: 4px;
  }
  nav #nav-icons #home-page-icon span {
    display: block;
  }
  nav #nav-icons #drop-down-menu-div {
    display: none;
  }
  nav #nav-icons .drop-down-menu-items {
    padding: 0;
    position: relative;
    display: -webkit-box;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    overflow: hidden;
  }
  nav #nav-icons .drop-down-menu-items .drop-down-menu-item {
    padding: 1rem;
    text-align: center;
  }
  nav #nav-icons .drop-down-menu-items .drop-down-menu-item #committee-link-div {
    display: none;
  }
  nav #nav-icons .drop-down-menu-items .drop-down-menu-item #committee-link-div #committee-link {
    display: none;
  }
  nav #nav-icons .drop-down-menu-items #filter-div {
    display: none;
  }
  nav #nav-icons .drop-down-menu-items #filter-div #filter {
    display: none;
  }
  nav #nav-icons #profile-pic-nav-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-left: 1px solid black;
    padding: 0.3rem 1rem;
  }
  nav #nav-icons #profile-pic-nav-div img {
    margin-bottom: 4px;
  }
  nav #nav-icons #profile-pic-nav-div a {
    font-size: 0.6rem;
    font-family: inherit;
    font-weight: bolder;
    cursor: pointer;
    margin: 0 auto;
  }
  nav #nav-icons #profile-pic-nav-div #profile-pic-nav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  nav #nav-icons #home-page-icon:hover {
    background: rgba(5, 255, 0, 0.14);
  }
  #back-to-top-div {
    margin: 0 30%;
  }
  .post-content,
  .comment-content {
    width: 50%;
    margin: 0 25%;
  }
  main {
    padding: 0 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr 1.5fr 0.6fr;
        grid-template-columns: 0.8fr 1.5fr 0.6fr;
  }
  main #right-desk {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    position: relative;
  }
  main #right-desk .filter-options {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 5rem;
    background: #f9fafe;
    margin-top: 2rem;
    border-radius: 15px;
  }
  main #right-desk .filter-options .black {
    background: rgba(187, 215, 178, 0.5);
  }
  main #right-desk .filter-options .centered i {
    background: rgba(187, 215, 178, 0.9);
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid #f9fafe;
  }
  main #right-desk .filter-options .filter-desk-data {
    padding-bottom: 2rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  main #right-desk .filter-options .filter-desk-data div {
    padding: 0.5rem 0;
    font-weight: bold;
    font-size: 0.8rem;
  }
  main #right-desk .filter-options .filter-desk-data div input {
    margin-right: 0.5rem;
  }
  main #content-all {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 0 3rem;
  }
  main #committee {
    top: 5rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: -webkit-sticky;
    position: sticky;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    display: block;
    border-radius: 15px;
    background: #f9fafe;
  }
  main #committee .black {
    background: rgba(187, 215, 178, 0.5);
  }
  main #committee .committee-cont i {
    background: rgba(187, 215, 178, 0.9);
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid #f9fafe;
  }
  main #committee .all-committee::-webkit-scrollbar {
    width: 0.2rem;
  }
  main #committee .all-committee::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
  }
  main #committee .all-committee {
    padding: 1rem;
    overflow: auto;
    height: 80vh;
    padding-bottom: 3rem;
  }
  main #committee .all-committee .committee {
    background: #edf1ff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.1fr 2fr 0.4fr;
        grid-template-columns: 0.1fr 2fr 0.4fr;
    border-radius: 10px;
    margin: 1rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: none;
  }
  main #committee .all-committee .committee .committee-content {
    padding: 0.8rem;
    padding-right: 0;
    font-size: 0.8rem;
    font-weight: bold;
  }
  main #committee .all-committee .committee .committee-content .committee-dept {
    font-size: 0.7rem;
    margin-right: 2rem;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: normal;
  }
  main #committee .all-committee .committee button {
    cursor: pointer;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  main #committee .all-committee .committee button i {
    pointer-events: all;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */