//desktop view first 

main{
    grid-template-columns: 25% 73%;
    justify-content: space-between;
    height: 85vh;
    a{
        text-decoration: none;
        color: black;
    }
}

#container{
    input{
        width: 100%;
        font-family: 'Spartan', sans-serif;
        outline: none;
        background: none;
    }
}

#search-users{
    padding: 1rem;
    // background: #EDF1FF;
    background: #F9FAFE;
    //border:1px solid red;
    
    input{
        padding: 0.6rem;
        border: 0.1rem solid #212121;
    }

    #search-result{
        
        .search-data {            
            //border:1px solid #212121;
            border-radius: 0.5rem;
            width: 100%;
            background: #EDF1FF;
            display: flex;
            font-size: 0.7rem;//0.8rem;
            font-weight: bold;
            //padding: 0.5rem 0.3rem;
            padding: 0.5rem 1rem;
            margin: 0.5rem 0;
            align-items: center;

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }
    }
}

#chat-window{
    // padding: 0 1rem;
    max-height: 85vh;
    box-sizing: border-box;
    display:grid;
    grid-template-rows: 92% 8%;
    // background: red;
    //border:1px solid black;
    border-bottom: 0;

    #chat-display::-webkit-scrollbar {
        width: 0.2rem;
    }

    #chat-display::-webkit-scrollbar-thumb {
        background-color: #e7e7e7;
    }

    #chat-display{
        // padding: 1rem;
        // background: brown;
        //border:1px solid brown;
        overflow:auto;
        // display: grid;
        // grid-template-columns: 1fr 1fr ;
        // margin-bottom: 1rem;
        
        .messages{
            //border:1px solid red;

            .message-content{
                // border:1px solid teal;
                //width: max-content;
                // background: #EDF1FF;
                font-size: 0.8rem;
                margin: 1rem;
                padding: 0.5rem 0rem;
        
                span{
                    //background: red;
                    padding: 0.5rem 1rem;
                    border:1px solid #212121;
                    background: #EDF1FF;
                }
                
                // span::after{
                //     content:"";
                //     background: pink;
                //     border:1px solid black;
                //     padding: 1rem;
                // }
            }
            .send{
                background: none;
                text-align: right;
            }
        }

        .message-receive{
            border:1px solid rebeccapurple;
        }
    }

    #chat-content{
        //border:1px solid pink;
        // bottom:10px;
        // position: absolute;
        display: flex;
        // width: 70%;

        input{
            width: 95%;
            padding: 0.6rem;
            border: 0.1rem solid #212121;
            font-weight: bold;
        }

        button{
            margin-left: 0.5rem;
            cursor: pointer;
        }
    }
    
}