//desktop view first 

main{
    grid-template-columns: 25% 75%;
    height: 85vh;
    a{
        text-decoration: none;
        color: black;
    }
}

#container{
    input{
        width: 100%;
        font-family: 'Spartan', sans-serif;
        outline: none;
        background: none;
    }
}

#search-users{
    padding: 1rem;
    background: #EDF1FF;
    
    input{
        padding: 0.6rem;
        border: 0.1rem solid #212121;
    }

    #search-result{
        
        .search-data {            
            border:1px solid #212121;
            border-radius: 0.5rem;
            width: 100%;
            display: flex;
            font-size: 0.8rem;
            padding: 0.5rem 0.3rem;
            margin: 0.5rem 0;
            align-items: center;

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
        }
    }
}

#chat-window{
    padding: 1rem;
    box-sizing: border-box;

    #chat-display{
        padding: 1rem;
        background: brown;
    }

    #chat-content{
        bottom:10px;
        position: absolute;
        display: flex;
        width: 70%;

        input{
            width: 95%;
            padding: 0.6rem;
            border: 0.1rem solid #212121;
            font-weight: bold;
        }

        button{
            margin-left: 1rem;
            cursor: pointer;
        }
    }
    
}