
#profile__info{
    //background: red;
    background: white;
    border-radius: 1rem;
    padding: 1rem;

    #profile__info__image{
        width: 220px;
    }
    
    .profile__info__inputs{
        //background: tomato;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        label{
            font-weight: bold;
            font-size: 1rem;
        }

        input,select,textarea{
            width: 85%;
            padding: 0.5rem;
            border: none;
            border-bottom:1px solid black;
            outline: none;
            font-family: 'Spartan', sans-serif;
        }
    }

    .display--none{
        display: none;
    }

    #profile__info__submit{
        padding: 0.5rem 1rem;
        background:#bbbbff96;
        border:none;
        cursor: pointer;
    }

    .text--right{
        text-align: right;
    }

    .center--div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        
        button{
            cursor: pointer;
            background: #a1e7a16e;
            padding: 0.5rem 1rem;
            border:none;
            margin: 1rem;
        }
    }


}