@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
$main-background:#F8F8FB;
$nav-button:#035951;
$aside-black:#212121;


*{
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: $main-background;
}

#container{
    width: 100%;
    position: relative;
}

header{
    margin-bottom: -6px;
    position: relative;
    width:100%;

    #header-img{
        width:100%;
        height:45vh;
    }

    #logout-div{
        top:0;
        position: absolute;
        right: 0;
        #logout{
            margin:1rem;
            background: none;
            border:none;
            color: #fff;
            cursor: pointer;
            // font-weight: bolder;
            // font-size: 1rem;
        }
    }

    #header-title{
        position: absolute;
        top:0;
        width: 100%;
        margin: 15vh 0;
        #header-title-back{
            padding: 25px; 
            background: #ffffff70;
            filter: blur(20px);
            width: 100%;
        }
        span{
            font-size: 2.2rem;
            margin: 0 8%;
            font-weight: 600;
            position: absolute;
            top: 10%;
        }
    }
    #post-filter{
        position: absolute;
        top:25vh;
        right: 0;
        margin-right: 3%;
        text-align: right;

        #post-btn-div{
            
            #post-btn{
                cursor: pointer;
                background: #fff;
                display: flex;
                align-items: center;
                border:none;
                padding: 0.5rem 1.5rem;
                border-radius: 100px;
                margin-bottom: 1rem;
                cursor: pointer;

                img{
                    margin-right: 10px;
                }
            }
        }

        #filter-div{
            color:#fff;
            font-size: 0.8rem;
            select{
                cursor: pointer;
                padding:0.2rem 1rem;
                border:none ;
                text-align: center;
                margin-left: 0.5rem;
                outline: none;
                appearance: none;
            }
        }
    }
}

main{
    position: relative;
    // top:-6.5px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

nav{
    position: -webkit-sticky !important;
    position: sticky !important;
    top:100px;
    margin-left: 5rem;
    margin-right: 10%;
    height: max-content;
    // border-right: 1px solid black;

    .nav-button-div{
        width: 60%;
        .nav-button{
            display: flex;
            align-items: flex-end;
            text-align: left;
            cursor: pointer;
            width: 100%;
            background: none;
            // background:$nav-button;
            padding: 0.6rem;
            border-radius: 100px;
            border: none;
            margin-bottom: 0.5rem;
            font-weight: bold;
            text-decoration: none;
            color: black;
            font-size: 0.9rem;

            img{
                margin-right: 10px;
            }
        }

        .nav-button:hover{
            background: $nav-button;
            color: white;
        }
    }
   
    .nav-button-div:first-child{
         margin-top: 1rem;
    }
}

#allposts{
    margin-top: 5%;
    grid-column: 2;

    .post-template{
        background: #fff;
        padding: 1.3rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
    
        .post-heading{
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .profile-details-tag{
            padding: 0 0.2rem;
            margin-bottom: 1rem;
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .profile-details-main{
                width: 80%;
                display: flex;
                img{
                    width:50px;
                    height: 50px;
                    border-radius: 4px;
                }

                .profile-details{
                    margin-left: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .tag-name{
                background-color: rgba(240, 128, 128, 0.788);
                padding: 0.4rem 2rem;
            }
        }

        .content{
            font-size: 0.8rem;
            margin-bottom: 1rem;
        }

        .bottom-post{
            display: flex;
            font-size: 0.6rem;
            justify-content: space-between;

            .btn{
                border: none;
                background:none;
                cursor: pointer;
            }
        }
    }
}


aside{
    margin-left: 30%;
    // background: $aside-black;
    // border:1px solid $aside-black;
    // color: #fff;
    border-left: 1px solid black;
    // margin-bottom: 3rem;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bolder;
    height: max-content;
    position: sticky;
    top:90px;

    
    img{
        width: 120px;
        height: 120px;
        border-radius: 100%;
        margin-bottom: 1rem;
    }

    .aside-profile-name{
        // margin-top: 3rem;
        margin-bottom: 1rem;
    }
}